html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    height: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    font-size: 32px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    font-size: 28px;
    font-weight: 200;
    margin-top: 8px;
    margin-bottom: 100px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
}

button {
    font-family: 'Montserrat', sans-serif;
}

/* General container styles */
.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between; /* This ensures space between the header text and button */
    align-items: center;
    margin-bottom: 20px;
}

.delete-x {
  background: none;
  border: none;
  color: #e63946;
  font-size: 18px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.delete-x:active {
  color: #ff4d4d;
  transform: scale(0.9);
  transition: transform 0.1s, color 0.1s;
}

#groveButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
  }
  

  .grove-btn {
    background-color: #5c5c5c;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.25s ease;
  }
  
  .grove-btn:hover {
    background-color: #4e622d;
  }

  .grove-btn::after {
    background-color: #4e622d; /* darker green when pressed */
    transform: scale(0.96);
}

.grove-btn:active {
    background-color: #4e622d;
    box-shadow: 3px 3px 8px #2a4127;
    transform: scale(0.96);
}

  .change_grove_btn {
    border: none;
    background: none;
  }

.icon-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.icon-button button {
    background-color: #5c5c5c;
    box-shadow: 6px 6px 12px hsla(0, 0%, 33%, 0.7);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 9px;
    
}

.icon-button p {
    font-size: 10px;
    color: #3d3d3d;
    font-weight: 600;
    margin: 6px 0 0;
}

/* Input row styling */
.input-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: left;
}

.input-group {
    flex-basis: 50%;
    margin-bottom: 8px;
    width: 105%;
}

.input-group-block-row-direction {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 103%;
}

label {
    display: flex;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 96%; /* Full-width input fields */
    height: 30px; /* Padding inside the input */
    padding-left: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 4px;
    font-size: 16px; /* Font size for input text */
    border: 2px solid #5c5c5c; /* Border around inputs */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    background-color: #ffffff;
}

select {
    width: 96%; /* Full-width input fields */
    height: 30px; /* Padding inside the input */
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px; /* Font size for input text */
    border: 2px solid #5c5c5c; /* Border around inputs */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    background-color: #ffffff;
    margin-bottom: 4px;
}

option {
    color: #000;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #1c1c1c;
  background-color: none;
}



select::after {
    color: #000;
    background-color: #ffffff;
    
}

select::selection {
    color: #000;
    background-color: #ffffff;
    
}

select:invalid {
    color: #adadad;
  }

input[type="text"]::placeholder {
    color: #adadad; /* Light grey color for placeholder */
    font-size: 16px; /* Adjust the size of placeholder text */
}



input[type="text"]:focus {
    border-color: #40633b; /* Change border color when focused */
    outline: none; /* Remove default outline */
    background-color: #ffffff; 
}


/* Button row styling for phones (vertical) */
.button-row {
    flex-basis: 50%;
    gap: 16px;
    width: 100%;
    
}

 #button0 {
    background-color: #2e6fcb;
    box-shadow: 6px 6px 12px hsla(215, 63%, 35%, 0.7);
  }

  #button0::after {
    background-color: #214f8f; /* darker green when pressed */
    
    
}

#button0:active {
    background-color: #214f8f;
    transform: scale(0.96);
}

  #button1 {
    background-color: #eb643b;
    box-shadow: 6px 6px 12px hsla(14, 66%, 36%, 0.7);
  }

  #button1::after {
    background-color: #b14c2d; /* darker green when pressed */
    
}

#button1:active {
    background-color: #b14c2d;
    transform: scale(0.96);
}
  

  #button2 {
    background-color: #ebd13b;
    box-shadow: 6px 6px 12px hsla(51, 71%, 37%, 0.7);
  }

  #button2::after {
    background-color: #d7b700; /* darker green when pressed */
    
}

#button2:active {
    background-color: #d7b700;
    transform: scale(0.96);
}

  #button3 {
    background-color: #96c34d;
    box-shadow: 6px 6px 12px hsla(83, 51%, 26%, 0.7);
  }

  #button3::after {
    background-color: #72953b; /* darker green when pressed */
    
}

#button3:active {
    background-color: #72953b;
    transform: scale(0.96);
}

/* Button styling */
.counter-button {
    padding: 10px;
    font-size: 24px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s ease box-shadow 0.25s ease transform 0.25s ease;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin-top: 20px;
}

.counter-button::after {
    box-shadow: 6px 6px 12px hsla(0, 0%, 18%, 0.7);
}

.button {
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.download-button {
    margin-top: 16px;
    margin-bottom: 40px;
    background-color: #8fb353;
    border: solid 2px #8fb353;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    width: 160px;
}


.view-data-button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.header-back-button {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border: solid 2px #3d3d3d;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    width: 160px;
}

.header-back-button:active {
    background-color: #3d3d3d;
    color: #ffffff;
}



/* Delete button style */
.delete-button {
    margin-top: 16px;
    margin-bottom: 40px;
    background-color: #f44336;
    border: solid 2px #f44336;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    width: 160px;
}

.delete-button:active {
    background-color: #a12f27;
}

.action-buttons {
    display: flex;
    gap: 24px;
    align-items: center;
}

/* Make sure header text looks fine */
h2 {
    margin: 0;
    font-size: 24px;
}

/* Media query for smaller devices */
@media (max-width: 721px) {
    h2 {
        font-size: 18px; /* Adjust font size on smaller screens */
       
    }
    
    .view-data-button {
        font-size: 14px; /* Smaller button text on smaller screens */
    }

   

    
}



/* Responsive layout for tablets */
@media (min-width: 720px) {
    .button-row {
        grid-template-columns: repeat(5, 1fr); /* Display buttons in a row on larger screens */
    }

    .input-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

    .submit-button,
    .download-button {
        padding: 20px;
        font-size: 20px;
        width: 40%;
        margin-top: 32px;
        height: 68px;
    }


}


/* Adjust button sizes for phones vs. tablets */
@media (max-width: 768px) {
    .counter-button {
        padding: 15px; /* Smaller buttons for phones */
        font-size: 24px;
    }

    .submit-button,
    .download-button {
        padding: 12px;
        font-size: 16px;
    }
}

@media (min-width: 767px) {
    .counter-button {
        width: 95%; /* Increase button size on larger screens */
        height: 140px;
        font-size: 32px; /* Adjust text size */
        margin-top: 20px;
    }

    .input-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 20px;
    }

    .input-group-block-row-direction {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 102%;
    }

    .submit-button,
    .download-button {
        padding: 20px;
        font-size: 20px;
        width: 40%;
        margin-top: 50px;
        height: 68px;
    }
}

/* Increase button size for large tablets or desktop view */
@media (min-width: 1024px) {
    .counter-button {
        width: 95%;
        height: 160px;
        font-size: 32px;
    }
}